<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/home.css">
</head>
<body>
    <header>
        <div>
            <h1 class="title">Authentication</h1>
        </div>
        <div class="nav-link">
            <a href="/users/profile"><%= user.name %></a>
            <a href="/users/sign-out">Log Out</a>

        </div>
    </header>

    <main>
        <h2>Authentication / Home</h2>
        <a href="/users/change-password">Change Password</a>
    </main>
</body>
</html>