<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
    <link rel="stylesheet" type="text/css" href="/login.css">
</head>
<body>
    <div>
        <h1>Log In</h1>
        <form action="/users/create-session" method="POST">
         <input type="email" name="email" placeholder="Your Email" required/><br>
         <input type="password" name="password" placeholder="Your Password" required/><br>
         <input class="submit" type="submit" value="Log In"/>
         <p>Don't have account yet?<a href="/users/sign-up">Sign Up</a></p>
         <p><a href="/users/forgot-password">Forgot Password?</a></p>
         <h2>Or</h2>
         <a href="/users/auth/google">Continue with Google</a>
         
        </form>
    </div>
</body>
</html>