body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

h2{
    text-align: center;
    margin-top: 50px;
    color:blue;
}

form{
    width:25%;
    margin: auto;
    height: 20vh;
  text-align: center;
  padding: 20px;
  box-shadow: 0 0 2px 1px gray;
  border-radius: 5px;

}

.email-btn{
    padding:8px 30px;
}

.submit{
    margin-top:10px;
    padding: 5px 10px;
    background-color: aquamarine;
    border:none;
    outline:none;
    font-size: 20px;
    box-shadow: 0 0 0 2px lightgray;
    
}